<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="aria_v2_arm">

  <xacro:include filename="$(find aria_description)/urdf/common.gazebo.xacro" />
  <xacro:include filename="$(find aria_description)/urdf/aria_v2.urdf" />
  <xacro:include filename="$(find aria_description)/urdf/aria_v2_transmission.xacro" />

  <xacro:aria_v2_transmission />

  <!-- Mimic joints - gripper fingers 2,3 -->
  <gazebo>
    <plugin name="finger_2_mimic_joint_plugin" filename="libroboticsgroup_gazebo_mimic_joint_plugin.so">
      <joint>Joint_7</joint>
      <mimicJoint>Joint_8</mimicJoint>
    </plugin>
  </gazebo>

  <link name="world" />
  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link="Link_0" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

</robot>
