<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="aria_v1_transmission">

    <transmission name="arm_trans_1">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="Joint_1">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="arm_motor_1">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="arm_trans_2">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="Joint_2">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="arm_motor_2">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="arm_trans_3">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="Joint_3">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="arm_motor_3">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="arm_trans_4">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="Joint_4">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="arm_motor_4">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="arm_trans_5">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="Joint_5">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="arm_motor_5">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="arm_trans_6">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="Joint_6">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="arm_motor_6">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="finger_trans_1">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="Joint_7">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="gripper_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="finger_trans_2">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="Joint_8">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="gripper_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

  </xacro:macro>
</robot>
